// --- Toast --- //

.toast-container {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .toast-container {
    left: 12px;
    right: 12px;
    bottom: 88px;
  }
}

.toast {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 16px;
  height: 62px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  min-width: 300px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.toast-icon {
  font-size: 24px;
  margin-right: 8px;
}

.toast-message {
  flex-grow: 1;
}

.toast-close {
  background: #ffffff3a;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 3px;
  cursor: pointer;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  transition: width 0.1s linear;
}

.toast__slide-in {
  animation: slideIn 0.5s ease forwards;
}

.toast__slide-out {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

// --- Toast --- //
