// --- Contact --- //

.contact__info {
  background-image: url("../assets/images/mapa-argentina.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 28rem;
  min-height: 24rem;
}

@media (min-width: 768px) {
  .contact__info {
    max-width: 100%;
  }
}

.contact__social-links {
  a {
    width: 24px;
  }
}

// --- Contact --- //
