// _variables.scss
// $light-background: linear-gradient(to bottom, #ffffff, #dbeafe);
$dark-background: #111827;

$light-background: linear-gradient(to bottom right, #ffffff, #f2f3f4);
// $dark-background: linear-gradient(to bottom left, #111827, #1f2937);

$light-text: #000000;
$dark-text: #ffffff;

$color-accent: #ff0033;
$text-light: #fff;
$text-gray: #e0e0e0;

$font-family-poppins: "Poppins", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

$padding-container: 80px 0;
