@use "variables" as *;
@use "animations" as *;

@import "../styles/slick.css";
@import "../styles/slick-theme.css";
@import "globals";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Componentes
@import "components/navbar";
@import "components/footer";
@import "components/loader";

// Secciones
@import "sections/hero";
@import "sections/projects";
@import "sections/skills";
@import "sections/flipCards";
@import "sections/contact";

/* Efecto rellenado botón ir arriba */

.up-btn::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: $color-accent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.up-btn:hover::after {
  background-color: #000;
}

// --- Inicio: Slider Carrusel --- //

.slick-slide {
  margin-bottom: 0;
  line-height: 0;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Esto elimina el espacio extra debajo de la imagen */
}

.slick-slide > div {
  height: 100% !important;
}

.slick-slider {
  height: 100% !important;
}

// Estilos para los puntos de navegación
.slick-dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 10;
}

.slick-dots li button:before {
  font-size: 14px; // Tamaño de los puntos
  color: #8b8b8bb0; // Color de los puntos
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $color-accent;
}

.slick-dots li button:hover:before {
  opacity: 1;
}

// --- Fin: Slider Carrusel --- //

// --- Inicio: Notificacion Toast --- //

.toast-container {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .toast-container {
    left: 12px;
    right: 12px;
    bottom: 88px;
  }
}

.toast {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 16px;
  height: 62px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  min-width: 300px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.toast-icon {
  font-size: 24px;
  margin-right: 8px;
}

.toast-message {
  flex-grow: 1;
}

.toast-close {
  background: #ffffff3a;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 3px;
  cursor: pointer;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  transition: width 0.1s linear;
}

.toast__slide-in {
  animation: slideIn 0.5s ease forwards;
}

.toast__slide-out {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

// --- Fin: Notificacion Toast --- //
